.subheader {
    background-color: var(--amarelo-claro);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 32px 70px;
}

    .subheader__breadcrumb {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 4px;
        margin-bottom: 32px;
    }

    .breadcrumb__arrow {
        width: 1.6rem;
        height: 1.6rem;
    }

    .breadcrumb__link {
        color: var(--cor-texto);
        font-family: var(--fonte);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
    }

    .breadcrumb__linkActual {
        color: #000;
        font-family: var(--fonte);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
    }

    .subheader__title{
        color: #000;
        font-family: var(--fonte);
        font-size: 6.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        margin-bottom: 16px;
    }

    .subheader__description {
        color: #636466;
        font-family: var(--fonte);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.3px;
        max-width: 700px;
    }

.schoolsCardSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 70px;
}

    .schoolsCardSection__img {
        width: 100%;
        height: 180px;
    }

    .schoolsCardSection__schools {
        display: none;
        flex-wrap: wrap;
        list-style: none;
        flex: 1;
        gap: 64px;
        max-width: 1440px;
    }
    
    .schoolsCardSection__school {
        width: 300px;
        height: 240px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        overflow: hidden;
    }

    .schoolsCardSection__schoolLink {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .schoolsCardSection__schoolDesc {
        color: #000;
        font-family: var(--fonte);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: center;
        margin: auto 0;
    }

.spinnerContainer {
    height: calc(100vh - 450px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 650px) {
  .subheader {
    padding: 32px 24px;
  }
}

@media screen and (max-width: 500px) {
  .subheader {
    height: 350px;
  }
}